In [23]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
import json
from pprint import pprint

# Import API key
from api_key import g_key
gmaps.configure(api_key = g_key)

In [24]:
load_weather_df = "output_data/weather_df.csv"
weather_data_df = pd.read_csv(load_weather_df)
weather_data_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Rikitea,55,PF,1583361189,72,-23.12,-134.97,77.59,18.32
1,1,Barrow,1,US,1583360386,93,71.29,-156.79,-29.20,3.36
2,2,Horizontina,13,BR,1583361192,49,-27.63,-54.31,71.28,2.39
3,3,Upata,39,VE,1583361193,69,8.01,-62.40,76.24,9.53
4,4,Kingaroy,40,AU,1583361195,78,-26.53,151.83,78.01,8.05
...,...,...,...,...,...,...,...,...,...,...
564,564,Palwal,90,IN,1583361938,100,28.15,77.33,60.80,8.05
565,565,Belyy Yar,34,RU,1583361940,73,53.60,91.39,24.80,11.18
566,566,Yulara,0,AU,1583361941,55,-25.24,130.99,62.60,4.70
567,567,Brae,85,GB,1583361942,86,60.40,-1.35,41.00,11.41
568,568,Hanko,100,FI,1583361943,90,59.83,22.95,37.00,11.99

In [25]:
gmaps.configure(api_key=g_key)

In [26]:
# Humidity Heatmap

# Configure gmaps.
# Use the Lat and Lng as locations and Humidity as the weight.
# Add Heatmap layer to map.

locations = weather_data_df[["Lat", "Lng"]]
humidity = weather_data_df["Humidity"].astype(float)

#fig_layout = {
#  "width" : "1200px",
#  "height" : "500px",
#  "border" : "0.5px black",
#  "margin" : "0 auto"
# }

# fig = gmaps.figure(layout = figure_layout)
fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)
fig.add_layer(heatmap_layer)

# Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Create new DataFrame fitting weather criteria
# max temperature lower than 85 degrees but higher than 65.
# Wind speed less than 10 mph.
# Zero cloudiness.

vacation_df = weather_data_df.copy()
vacation_df = vacation_df[vacation_df["Max Temp"] >=70]
vacation_df = vacation_df[vacation_df["Max Temp"] <=80]
vacation_df = vacation_df[vacation_df["Cloudiness"] ==0]
vacation_df = vacation_df[vacation_df["Wind Speed"] <=10]
vacation_df = vacation_df.reset_index()
vacation_df = vacation_df.dropna()
vacation_df

,index,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,10,10,Port Alfred,0,ZA,1583360703,83,-33.59,26.89,71.01,5.99
1,64,64,Necochea,0,AR,1583360750,69,-38.55,-58.74,79.00,4.00
2,82,82,FerkessÃ©dougou,0,CI,1583361297,48,9.60,-5.20,77.74,2.77
3,123,123,Siguiri,0,GN,1583361354,13,11.67,-9.50,72.55,0.65
4,294,294,Adrar,0,MR,1583361581,7,20.50,-10.07,73.72,6.91
5,381,381,Boende,0,CD,1583361696,76,-0.22,20.87,75.78,1.39
6,459,459,Bosaso,0,SO,1583361800,78,11.28,49.18,76.69,9.15
7,490,490,Port Hedland,0,AU,1583361841,94,-20.32,118.57,77.00,3.36
8,497,497,Kouroussa,0,GN,1583361849,15,10.65,-9.88,75.94,3.00
9,528,528,Santiago del Estero,0,AR,1583361887,43,-27.80,-64.26,77.16,2.64

In [31]:
# Add a hotel column to the dataframe
hotel_df = vacation_df
hotel_df["Hotel Name"] = np.nan
hotel_df = hotel_df.drop(columns = "index")
hotel_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,10,Port Alfred,0,ZA,1583360703,83,-33.59,26.89,71.01,5.99,NaN
1,64,Necochea,0,AR,1583360750,69,-38.55,-58.74,79.00,4.00,NaN
2,82,FerkessÃ©dougou,0,CI,1583361297,48,9.60,-5.20,77.74,2.77,NaN
3,123,Siguiri,0,GN,1583361354,13,11.67,-9.50,72.55,0.65,NaN
4,294,Adrar,0,MR,1583361581,7,20.50,-10.07,73.72,6.91,NaN
5,381,Boende,0,CD,1583361696,76,-0.22,20.87,75.78,1.39,NaN
6,459,Bosaso,0,SO,1583361800,78,11.28,49.18,76.69,9.15,NaN
7,490,Port Hedland,0,AU,1583361841,94,-20.32,118.57,77.00,3.36,NaN
8,497,Kouroussa,0,GN,1583361849,15,10.65,-9.88,75.94,3.00,NaN
9,528,Santiago del Estero,0,AR,1583361887,43,-27.80,-64.26,77.16,2.64,NaN

In [32]:
#search in google for hotels within 5 miles
#hotel names
hotels = []
x = 0

# for loop to search city coords
for cities in hotel_df['City']:
    target_coordinates = str(hotel_df['Lat'][x])+' , '+str(hotel_df['Lng'][x])
    x+=1
    target_radius = 5000
    target_type = 'lodging'
    params = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"  
    try:
        response = requests.get(base_url, params=params)
        hotel_results = response.json()
        hotels.append(hotel_results['results'][0]['name'])
        
    except IndexError:
        hotels.append(np.nan)

hotel_df['Hotel Name'] = hotels
hotel_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,10,Port Alfred,0,ZA,1583360703,83,-33.59,26.89,71.01,5.99,The Halyards Hotel
1,64,Necochea,0,AR,1583360750,69,-38.55,-58.74,79.00,4.00,dyd -mar Hotel
2,82,FerkessÃ©dougou,0,CI,1583361297,48,9.60,-5.20,77.74,2.77,Hotel Chateau
3,123,Siguiri,0,GN,1583361354,13,11.67,-9.50,72.55,0.65,NaN
4,294,Adrar,0,MR,1583361581,7,20.50,-10.07,73.72,6.91,NaN
5,381,Boende,0,CD,1583361696,76,-0.22,20.87,75.78,1.39,NaN
6,459,Bosaso,0,SO,1583361800,78,11.28,49.18,76.69,9.15,Red Sea Hotel
7,490,Port Hedland,0,AU,1583361841,94,-20.32,118.57,77.00,3.36,The Esplanade Hotel
8,497,Kouroussa,0,GN,1583361849,15,10.65,-9.88,75.94,3.00,Hotel Tando Plus
9,528,Santiago del Estero,0,AR,1583361887,43,-27.80,-64.26,77.16,2.64,Hotel Urbano

In [33]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [34]:
# Add marker layer ontop of heat map and display
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))